{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}



{% block body %}
    <div id="calendrier" style="width: 80%;
            margin: auto; ">
    </div>
{% endblock %}

{% block javascripts %}
<script>
    window.onload = () => {
        let calendarElt = document.querySelector("#calendrier")
        let calendar = new FullCalendar.Calendar(calendarElt, {
            initialView: 'timeGridWeek',
            locale: 'tn',
            timeZone: 'afrique/tunis',
            headerToolbar: {
                start: 'prev,next today',
                center: 'title',
                end: 'dayGridMonth,timeGridWeek,listWeek,timeGridDay'
            },
            events: {{ data|raw }},
            editable: true,
            eventResizableFromStart: true
        })
        
            
           
        calendar.render()
    }
</script>

{% endblock %}