{% extends 'admin.html.twig' %}

    {% block content %}
    {% block body %} 
        


            <div class="container">
                <h1>Statistiques </h1>
                <p>nombre des réservations par date</p>

                <canvas id="commandes" width="400" height="100"></canvas>
            </div>


        {% block ts%}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
            <script>
                let commandes = document.querySelector("#commandes")
                let commandeGraph = new Chart(commandes, {
                    type: "line",
                    data: {
                        labels: {{ dates|raw }},
                        datasets: [{
                            label: "Nombre des RendezVous",
                            data: {{ commandeCount|raw }}
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                })
            </script>
        {% endblock %}
{% endblock %}

{% endblock %}